<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963968563922-3a5ufl3t82rcm0lsr8ts479ku0s4nrr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963968563922-3a5ufl3t82rcm0lsr8ts479ku0s4nrr7</string>
	<key>API_KEY</key>
	<string>AIzaSyCzSAEoDeGdIlDhbgorjCTlkQHCKOGEzfU</string>
	<key>GCM_SENDER_ID</key>
	<string>963968563922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voitovich.notesApp</string>
	<key>PROJECT_ID</key>
	<string>block-notes-41762</string>
	<key>STORAGE_BUCKET</key>
	<string>block-notes-41762.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963968563922:ios:e3a82d1c25c92d62d4cb0b</string>
</dict>
</plist>